<div class="nav">
	<ul>
  <li>welcome, <%= current_user.username %></li>
  <li><a href="/users/<%= current_user.id %>/albums">view your albums</a></li>
  <li><a href="/users/<%= current_user.id %>/photos/new">upload a photo</a></li>
  <li><a href="/">view all photos</a></li>
  <li><a href="/logout">log out</a></li>
  </ul>
</div>