<div class="login">
  <% if @errors %>
    <p class="errors"> <%= @errors %> </p>
  <% end %>
  <form method="post" action="/login">
    <input type="text" class="text-box" name="name" placeholder="username">
    <input type="password" class="text-box" name="password" placeholder="password">
    <input type="submit" class="submit-button" value="log in">
  </form>
  <p class="directions">new user? sign up <a id="signup" href="/signup">here</a></p>
</div>
