<form method="post" action="/photos/new" enctype="multipart/form-data">
  <select name="album">
    <% @albums.each do |album| %>
      <option value="<%= album.name %>"><%= album.name %></option>
    <% end %>
  </select>
  <input type="file" name="file">
  <input type="submit" value="Upload">
</form>
