<h3>Upload a Photo</h3>
<form class="upload" method="post" action="/photos/new" enctype="multipart/form-data">
  <input id="file" type="file" name="file"><br>
	<label id="dropdown" for="album">Add to album</label>
  <select id="album-dropdown" name="album">
    <% current_user.albums.each do |album| %>
      <option value="<%= album.name %>"><%= album.name %></option>
    <% end %>
  </select> or <a class="create-album" href="/albums/new">create a new album</a><br>
  <input id="submit" type="submit" value="Upload">
</form>
